// colors.scss

// Primary Colors
$dark-blue: #264653;
$light-blue: #2A9D8F;
$orange: #E76F51;
$light-beige: #F4A261;
$medium-gray: #E9C46A;

// Button Colors
$primary-button-bg: #1D7874; 
$secondary-button-bg: #D1495B; 
$button-text-color: #FFFFFF; 

// Text and Backgrounds
$primary-text-color: $dark-blue;
$secondary-text-color: $medium-gray;
$primary-bg-color: #FFFFFF;
$secondary-bg-color: $light-blue;
